/* start mobile_tag  */

.mobil_tag{
  height: 100vh;
  background: rgb(155 89 182 / 70%);
  display: flex;
  align-items: center;
}
.mobil_tag .tag{
  width: 350px;
  height: 95%;
  margin: auto;
  background: #fff;
  padding: 2px;
  border-radius: 10px;
  overflow: hidden;
}
.mobil_tag .tag .img_cont{
  position: relative;
  height: calc(100% - 70px);
}
.mobil_tag .tag .img{
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 10px 10px 0 0;
  opacity: 0;
  transition: 0.3s;
}
.mobil_tag .tag .img.active{
  opacity: 1;
}
.mobil_tag .tag .img1{
  background: url(../images/home.avif);
  background-size: cover;
  background-position:center center;
}
.mobil_tag .tag .img2{
  background: url(../images/pen.avif);
  background-size: cover;
  background-position:center center;
}
.mobil_tag .tag .img3{
  background: url(../images/pencil.avif);
  background-size: cover;
  background-position:center center;
}
.mobil_tag .tag .img4{
  background: url(../images/egele.avif);
  background-size: cover;
  background-position:center center;
}
.mobil_tag .nav{
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav .box{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  color: #777;
}
.nav .box:hover ,
.nav .box.active{
  color: rebeccapurple;
  cursor: pointer;
}
